/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

#compositElement{
	margin: 40px;
	
}

img {
	margin: 20px;
}

.buttonClass {
 
  border: none;
    color: black;
    text-align: center;
  	 font-size: 16px;
     border-radius: 2px;
     padding: 10px;
      margin: 10px 2px;
}

.overallText {
	
	 border: none;
    color: black;
    text-align: center;
  	 font-size: 16px;
     padding: 10px;
      margin: 10px 2px;
}

.textBox {
	
    border: 3px double #848484; 
    outline:0; 
    height:25px; 
    width: 275px; 
	 padding: 10px;
      margin: 10px 2px;
	 text-align: left;
	 font-size: 16px;  
	  border-radius: 4px;
}

.clickedImage {
	border: 5px;
	border-color: black;
	border-radius: 4px; 
}

